*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #091720;
    background-image: url("../staticfiles/BankBakImg.jpg");
    background-size: cover;
    background-position: center;
}

/* ---navbar 1 start--- */

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #3E84A8;
    font-size: 1.2rem;
}

a:hover{
    color: #21566e;
}

.logo1{
    /* border: 3px solid rgb(209, 25, 25); */
    width: 150px;
    margin-left: 7px;
    margin-top: 7px;
    
}

.nav_border{
    width: 100%;
    height: 75px;
    max-width: 100%;
    margin: 0 auto;
    top: 0;
    width: 100%;
}

.navbar{
    border: 3px solid  #3E84A8;
    background-color: #ffffff;
    width: 100%;
    height: 75px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding-left: 3%;
    padding-right: 3%;
}

.links{
    /* border: 3px solid rgb(156, 213, 41); */
    display: flex;
    gap: 2rem;
    background:#ffffff;
	border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 15px;

}

.action_btn{
    background-color: #3E84A8;
    color: #ffff;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
/* --navbar 1 ended- */

/* --nav bar 2 Started-- */


.nav_border2{
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    width: 100%;
}

.navbar2{
    /* border: 3px solid rgb(41, 144, 213); */
    /* border: 3px solid rgb(16, 4, 105); */
    background:  #3E84A8;;
    width: 100%;
    height: 65px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

select{
    /* position: absolute; */
    /* transform: translate(-50%,-50%); */
    top: 50%;
    left: 50%; */
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    width: 180px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.50px;
    cursor: pointer;
    background-color: #3E84A8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
select::-ms-expand{
    display: none;
}
select:hover{
    border: 3px solid  #346d87;
}

.action_btn2{
    background-color: #ffffff;
    color:  #3E84A8;
    padding: 0.5rem 1rem;
    border:none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

#account{
    background-image: url(../staticfiles/account.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 100px 3px;
}

#card{
    background-image: url(../staticfiles/card.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 80px 3px;
}
#loan{
    background-image: url(../staticfiles/loan.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 80px 3px;
}
#service{
    background-image: url(../staticfiles/service.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 100px 3px;
}
/* --Navbar 2 Ended-- */


.container2{
    /* border: 3px solid rgb(41, 213, 58); */
    display: flex;
    height: 500px;
    width: 1300px;
    margin-left: 150px;
    margin-top: 150px;
    align-items: center;
}


/* --slider 1 start -- */


.slider1{
    /* border: 3px solid rgb(13, 3, 49); */
    display: flex;
    height: 500px;
    width: 875px;
}

#slider1{
    color: #ffff;
    overflow: hidden;
    background-image: url("../staticfiles/loan1.jpg");
    background-image: 100% 100%;
	box-shadow: 5px 20px 50px #000;
    animation: slide 20s infinite;
}

@keyframes slide{
    0%{
        background-image: url("../staticfiles/loan1.jpg");
    }
    25%{
        background-image: url("../staticfiles/loan2.png");
    }
    30%{
        background-image: url("../staticfiles/loan3.jpg");
    }
    50%{
        background-image: url("../staticfiles/loan4.png");
    }
    55%{
        background-image: url("../staticfiles/loan5.jpg");
    }
    75%{
        background-image: url("../staticfiles/loan6.jpg");
    }
    80%{
        background-image: url("../staticfiles/loan7.jpg");
    }
    100%{
        background-image: url("../staticfiles/loan1.jpg");
    }

}
#rmini1{
    width: 350px;
    height: 500px;
    margin-left: 50px;
    box-shadow: 5px 20px 50px #000;
}

.slider2{
    /* border: 3px solid rgb(13, 3, 49); */
    display: flex;
    height: 500px;
    width: 889px;
}
#slider2{
    color: #ffff;
    overflow: hidden;
    background-image: url("../staticfiles/awai1.png");
    background-image: 100% 100%;
	box-shadow: 5px 20px 50px #000;
    animation: slide1 20s infinite;
}

@keyframes slide1{
    0%{
        background-image: url("../staticfiles/awai1.png");
    }
    25%{
        background-image: url("../staticfiles/awair2.png");
    }
    30%{
        background-image: url("../staticfiles/awair3.png");
    }
    50%{
        background-image: url("../staticfiles/awair4.png");
    }
    55%{
        background-image: url("../staticfiles/awair5.jpg");
    }
    75%{
        background-image: url("../staticfiles/awair6.png");
    }
    80%{
        background-image: url("../staticfiles/awair7.jpg");
    }
    100%{
        background-image: url("../staticfiles/awair1.png");
    }

}
#rmini2{
    width: 350px;
    height: 500px;
    margin-right: 50px;
    box-shadow: 5px 20px 50px #000;
}

/*--footer start -- */
footer{
    /* border: 3px solid rgb(41, 213, 58); */
    background-color: #222222;
    display: flex;
    height: 360px;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    /* align-items: center; */
}

/* --navar 3 */
.navbar3{
    background-color: #346d87;
    align-items: center;
    width: 100%;
    height: 65px;
    margin-top: 50px;
}

.container3{
    
    align-items: center;
    width: 25%;
    height: 100%;
}
.container4{
    
    align-items: center;
    width: 25%;
    height: 100%;
}
.container5{
    align-items: center;
    width: 25%;
    height: 100%;
}
.container6{
    align-items: center;
    width: 25%;
    height: 100%;
}

/* --Social Media-- */
#what {
    width: 50px;
    padding: 6px 3px;
}

#fb {
    width: 60px;
    padding: 6px 3px;
}

#im {
    width: 50px;
    padding: 6px 3px;
}

#lc {
    width: 50px;
    padding: 6px 3px;
}

#in {
    width: 50px;
    padding: 6px 3px;
}

#call {
    width: 50px;
    padding: 0px 15px;
}